<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rosieskills.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d497d8bb-6d9d-40fc-9184-7b9f08a64551/resourceGroups/Rosie-V3/providers/Microsoft.Web/sites/RosieSkills</ResourceId>
    <UserName>$RosieSkills</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://rosieskills.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>